@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #845db3, #aec2fa);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  color: #222;
}
.container {
  padding: 1rem;
  background-color: #ddd4fa;
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd4fa;
}
h1 {
  font-size: 22px;
}
.height-box {
  margin-top: 1rem;
}
.weight-box {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
input {
  outline: none;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 15px;
}
input[type="number"]::-webkit-inner-spin-button {
  height: 35px;
  cursor: pointer;
}
button {
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
button:hover {
  background-color: #845db3;
  color: #fff;
}
.result-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.result {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #fff;
}
h3 {
  margin-top: 1rem;
}
span {
  margin-left: 5px;
  color: #703dae;
}
a {
  color: #ebe8f6;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
