@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #090b69;
    --background-color: white;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--background-color);


}

#FormContainer {
    background-color: #0070fa;
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff6d;
    width: 760px;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 1.5px #0000002b;
    font-family: Poppins;
    padding: 10px;
    height: 595px;

    display: grid;
    grid-template-columns: 50% 50%;
}

h1 {
    padding: 10px 20px 5px 20px;
    color:white;
    font-size: 2.1rem;
    font-weight: 800;
    grid-column: 1/span 2;
}

.ImgContainer {
    height: 570px;
    overflow: hidden;
    border-radius: 10px;
  background:url("../img/heart1.jpg");
  background-size:100% 100%;
}



form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.firstrow,
.thirdrow {
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

form li {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    text-align: left;

}

form label {
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
    padding: 5px 15px;
    color: white;
}
form input,
form select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: white;
    width: 100%;
    outline: none;
    color: var(--main-color);
    margin-bottom: 10px;
}

form input:focus,
form select:focus,
form input:hover,
form select:hover {
    border: 2px solid #032d61;
}

form .secondrow {
    display: grid;
    grid-template-columns: 35% 65%;
}

form select {
    width: 100%;
}

form .secondrow input {
    flex: 1;
    width: 100%;
}



form button {
    width: fit-content;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #0070fa;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: auto;
}

@media (max-width:800px) {
    .ImgContainer {
        display: none;
    }

    #FormContainer {
        grid-template-columns: 100%;
        width: 380px;
    }


}

@media (max-width:430px) {
    #FormContainer {
        border-radius: 0px;
        width: 100%;
        padding: 5px;
        height: 100%;
    }

    .firstrow,
    .secondrow,
    .thirdrow {
        display: block;
    }
}