<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stroke Prediction</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="../static/css/stroke.css">

  
</head>

<body>
  <!-- <div class="notes">

<h4> hypertension: </h4>
<p> 
  Hypertension, commonly known as high blood pressure, is a medical condition characterized by elevated blood pressure in the arteries. It is a significant risk factor for various cardiovascular diseases, including heart attack, stroke, and heart failure.</p>
<p></p>
<h4>Glucose Level</h4>
<p>Glucose level refers to the concentration of glucose (a type of sugar) in the blood. It's typically measured in milligrams of glucose per deciliter of blood (mg/dL) in the United States, or in millimoles of glucose per liter of blood (mmol/L) in other parts of the world.</p>
  </div> -->
<div id="FormContainer">
  <div class="ImgContainer">


  </div>
  <form id="Form" method="post" action="#">
      <h1 id="FormHeading">Stroke Prediction</h1>
      <div class="firstrow">
          <li><label for="age">Age:</label>
              <input type="number" id="age" name="age" placeholder="Enter your age">
          </li>
          <li><label for="ever_married">Ever Married?</label>
            <!-- <select>
              <option id="ever_married" name="ever_married" value="1">Yes</option>
              <option id="ever_married" name="ever_married" value="0">No</option>
            <select> -->
              <input type="number"for="ever_married" name="ever_married" placeholder="Married=1 Not=0" >
          </li>
      </div>
      <li>
          <label for="hypertension">Are you deal with hypertension:</label>
          <!-- <select>
            <option id="hypertension" name="hypertension" value="1">Yes</option>
            <option id="hypertension" name="hypertension" value="0">No</option>
          <select> --> <input type="number" for="hypertension" name="hypertension" placeholder=" YES=1 NO=0">
      </li>
      <div class="secondrow">
          <li><label for="gender">Gender </label>
              <!-- <select>
                  <option value="1" name="gender">Male</option>
                  <option value="0" name="gender">Female</option>
              <select> --> <input type="number" for="gender" name="gender" placeholder="(M=1,F=0)">
          <li>
              <label for="work_type">Your Work Type:</label>
              <select name="work_type" id="work_type">
                
                <option value="0">Government Job</option>
                <option value="1">Private</option>
                <option value="2">Self-Employed</option>
                <option value="3">Children</option>
            <select>
          </li>
      </div>
      <div class="thirdrow">
          <li><label for="Residence_type">Resicence Type:</label>
            <!-- <select>
              <option id="Residence_type" name="Residence_type" value="1">Urban</option>
              <option id="Residence_type" name="Residence_type" value="0">Rural</option>
          <select> -->
            <input type="number" for="Residence_type" name="Residence_type" placeholder="Urban=1 Rural=0">
          <li><label for="avg_glucose_level">Glucose level:</label> <input type="float" id="avg_glucose_level" name="avg_glucose_level" placeholder="Example:4.2"></li>
          <li><label for="bmi">Body Mass index:</label> <input type="float" id="bmi" name="bmi" placeholder="Example: 27.2"></li>
          <li><label for="smoking_status">Smoking Status:</label>
            <select name="smoking_status" id="smoking_status">
              <option value="0">Formerly Smoked</option>
              <option value="1">Never Smoked</option>
              <option value="2">Smokes</option>
              <option value="3">Unknown</option>
          <select></li>
      </div>
      <button type="submit">Submit</button>
      <p style="color: aliceblue;">note: if you want to calculate bmi <a href="/bmi">BMI</a></p>
      <p style="color: aliceblue;">Explaination of above content: <a href="/def">Click</a></p>
    </form>

</div>


  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script src="../static/js/stroke.js"></script>

</body>
</html>
